@import (reference) "/node_modules/bootstrap/less/bootstrap.less";

.reddit-viewer{

  .welcome{
    .app-title{
      color: #009998;
    }

    .examples{
      .list-group{
        max-width: 400px;
      }
    }
  }

  .invalid-subreddit-alert{
    .alert{
      max-width: 300px;
      margin: 0 auto;
      text-align: center;
    }
  }

  .pending-alert{
    width: 100%;
    height: auto;

    .pending-alert-img{
      margin: 0 auto;
      width: 120px;
      height: 120px;
      background: url("../../img/load.gif") no-repeat center center;
    }
  }

  .subreddit{
    .container;

    .subreddit-header{
      .page-header;
    }

    .subreddit-sections{
      .make-md-column(6);

      .subreddit-section-tabs{
        .nav;
        .nav-tabs;
      }

      .subreddit-section-posts{
        .list-group;

        .subreddit-post-item{
          .list-group-item;

          &:first-child{
            border-top: none;
          }

          > h4{
            .list-group-item-heading;
            font-size: 16px;
          }
          > p{
            .list-group-item-text;

            .post-view{
              display: inline-block;
              position: absolute;
              right: 15px;
            }
          }
        }
      }
    }
  }
}